src/main/resources/templates/XMLwork/catalog.dtd


        <!--根结点，唱片列表-->
        <!ELEMENT catalog (cd)*>
<!--        唱片结点，包含名称。作者，国家，出版公司，价格，发行年份-->
        <!ELEMENT cd (title,artist,country,company,price,year)>
        <!ELEMENT title (#PCDATA)>
        <!ELEMENT artist (#PCDATA)>
        <!ELEMENT country (#PCDATA)>
        <!ELEMENT company (#PCDATA)>
        <!ELEMENT price (#PCDATA)>
        <!ELEMENT year (#PCDATA)>